body{
	margin: 0;
	font-family: arial;
	font-size: 12px;


}

.topo {
	height: 30px;
	width: 100%;
	background-color: #000;	
}
.topoint{
	width: 100%;
	max-width: 1040px;
	height: 30px;
	margin:auto;
}
.topoleft{
	width: 50%;
	height: 30px;
	float:left;
}
.toporight{
	width: 50%;
	height: 28px;
	float:right;
	text-align: right;
	margin-top: 2px;
}
.topoleft ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.topoleft li{
	height: 30px;
	line-height: 30px;
	float:left;
	margin-left: 4px;
	margin-right: 4px;
}

.topoleft li a {
	text-decoration: none;
	color: #FFF;
}

.topoleft li .ativo {
	color: blue;
}
.topobusca{
	width: 110px;
	height: 26px;
	outline: 0;
}
.toporight a{
	float;right;
}
.toporight input{
	float: right;
}
.toporight img{
	margin-left:3px 
}
.toporight input{
	margin-left: 3px
}
.topo2{
	height: 95px;
	color: #334433;

}

.topo2int{
	width: 100%;
	max-width: 1040px;
	height: 95px;
	margin:auto;
}

.logo {
	width: 234px;
	height: 75px;
	float: left;
	margin-top: 5px;
}

.topo2 .banner{
	width: 650px;
	height: 80px;
	float: right;
	padding-left: 1000px 
	margin-top:5px;
	background-color: red;
}
.menu {
	width: 100%;
	height: 40px;
	background-color: red;
}
.menuint {
	width: 100%;
	max-width: 1040px;
	height: 40px;
	margin:auto;
}
.menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu li{
	height: 40px;
	line-height: 40px;
	float:left;
	padding-left: 8px;
	padding-right: 8px;
}

.menu li:hover .submenu{
	display: block;
}

.menu li a {
	text-decoration: none;
	color: #FFF;
}

.submenu{
	width: 150px;
	background-color: #FF0000;
	position: absolute;
	display:none;
}
.submenuitem{
	width: 140px;
	height: 30px;
	line-height:30px;
	padding-left:10px;
}
.submenuitem:hover{
background-color: #FF5555;
}
.ultimasnoticias{
	height: 50px;
}
.ultimasnoticiasint{
		background-color: #000000;
		width:100%;
		max-width: 1040px;
		height: 50px;
		margin: auto;
}
.ultnoticiasarea{
	height: 20px;
	background-color: #FFF;
}